.container {
  height: 100px;
  padding: 0px 50px;
  background-color: rgb(212, 162, 69);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

.callButton {
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
  color: rgb(206, 93, 0);
  border: 1px solid rgb(145, 82, 0);
}

.item:nth-child(2) {
  flex: 3;
  justify-content: center;
}

.item:nth-child(3) {
  justify-content: flex-end;
}

.texts {
  margin-left: 20px;
  color: white;
}

.texts:first-child {
  font-size: 162x;
  font-weight: 500;
}
.texts:last-child {
  font-size: 20px;
  font-weight: bold;
}

.list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
}

.listItem {
  margin: 20px;
  font-weight: 500;
}

.cart {
  position: relative;

}

.counter {
  position: absolute;
  top: -3px;
  right: -7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  color: rgb(139, 40, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid  rgb(192, 125, 1);;
}

.localMallOutlined{
  font-size: 40px;
}